doctype html
html
  head
    title SIT: Something Is Trending!
  body
    h1 SIT: Something Is Trending!
    canvas(id="chart")
    script(src="/static/chart.js/Chart.min.js")
    script var data = !{data}
    script var dates = !{dates}
    script(src="/static/script.js")
    