doctype html
html
  include _head.pug
  body
    h1.title SIT: Something Is Trending!
    main
      div.input-group
        label(for='project') Project URL
        input#project(type='text', placeholder='id.wikipedia.org')
      div.input-group
        label(for='endDate') Give me some date
        input#endDate(type='date', placeholder='2017-01-01')
      div.input-group
        input#submit(type='submit', value='Submit')
    script(src="/sit/static/home.js")