doctype html
html
  include _head.pug
  body
    h1.title SIT: Something Is Trending!
    canvas#chart
    script(src="/sit/static/chart.js/Chart.min.js")
    script(src="/sit/static/randomcolor/randomColor.js")
    script var data = !{data}
    script var dates = !{dates}
    script(src="/sit/static/script.js")
    